python -m pip3 install pillow==8.2.0
python -m pip3 install pandas==1.2.4
python -m pip3 install streamlit==0.81.1
python -m pip3 install scikit-learn==0.24.2
python -m pip3 install pandas_datareader==0.8.1
python -m pip3 install fbprophet==0.7.1
python -m pip3 install yfinance==0.1.59
python -m pip3 install plotly==4.14.3
python -m pip3 install requests==2.25.1

